body {
    background: linear-gradient(to bottom, black 10%, white 90%);
    background-attachment: fixed;
}


h1 {
    color: white;
    text-align: center;
    font-size: 70px;
}

p {
    text-align: center;
    color: white;
    font-size: 15px;
}

html {
    font-family: "verdana", "Courier New", monospace;
}

.con {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.searchBar {
    width: 100%;
    max-width: 600px;
    background: black;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 20px;
}

.searchBar input {
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    outline: none;
    width: 100%;
    text-align: center;
}

.searchBar input::placeholder {
    text-align: center;
    font-weight: bold;
}

.searchBar:hover {
    transform: scale(1.03);
}

.go_button {
    width: 100%;
    max-width: 100px;
    padding: 20px;
    background-color: black;
    color: gray;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
}

.go_button:hover {
    transform: scale(1.1);
}